h1{color: rgb(0, 0, 0);
    font-family: 'Cormorant SC', serif;
    text-align: center;
  }
  h2{color: rgb(0, 0, 0);
    font-family: 'Cormorant SC', serif;
    text-align: center;
  }
  h3{color: rgb(0, 0, 0);
    font-family: 'Cormorant SC', serif;
    text-align: center;
  }
  a{color: rgb(0, 0, 0);
    font-family: 'Cormorant SC', serif;
  }
  nav{
    text-align: center;
  }
  u {
    padding-inline: 5%;
  }

  body {
    margin: 0px;
  }

  .members {
    background-color: rgb(128, 114, 151);
    width: 100%;
    padding: 0.5% 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .column {
    float: left;
    width: 288px;
    padding: 6px;
  }

  .column1 {
    float: left;
    width: 288px;
    padding: 6px;
  }

  .row {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 9px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  hr {
    background: black;
    height: 2px;
  }

  a:hover {
    color: rgb(96, 96, 96)!important;
  }

  .previous {
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  }

  .round {
  border-radius: 50%;
  }

  .dropbtn {
    background-color: #f4f3ef;
    color: rgb(0, 0, 0);
    padding: 5px;
    font-size: 16px;
    border: none;
    font-family: 'Cormorant SC', serif;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f4f3ef;}

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {background-color: #f4f3ef;}

  @media only screen and (max-width: 1100px) {
    .column1 {
      width: calc(100% - 20px);
    }

    .column {
      width: calc(100% - 20px);
      margin-bottom: 20px;
    }
    
    .row {
      flex-direction: column;
      justify-content: center;
      flex-grow: 0;
    }
  }